<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/css/style.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="/">Insta</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
 
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item mr-3">
         <a class="btn btn-secondary" href="/profile">My Posts</a>
       </li>
       <li class="nav-item mr-3">
         <a class="btn btn-secondary active" href="/create_post">Create Post </a>
       </li>
       <li class="nav-item mr-3">
         <a class="btn btn-secondary" href="/logout">Logout</a>
       </li>
     </ul>
   </div>
 </nav>
<body>
    <div class="container mt-5" >
    <h3 class="font-weight-bold text-center">Create a POST</h3>
  <form method="POST" action="/create_post" enctype="multipart/form-data">
     <div class="form-group">
        <label for="exampleFormControlFile1" class="font-weight-bold">Enter Text</label>
        <input type="text" class="form-control" name="text" placeholder="Enter Text" required>
     </div>
     <div class="form-group">
        <label for="exampleFormControlFile1" class="font-weight-bold">Select Image</label>
        <input type="file" class="form-control-file" name="image" accept="image/*" required>
     </div>
     <button class="btn btn-primary btn-lg">Submit</button>
  </form>
</div>
</body>