<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/css/style.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Insta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-3">
        <a class="btn btn-secondary" href="/profile">My Posts</a>
      </li>
      <li class="nav-item mr-3">
        <a class="btn btn-secondary" href="/create_post">Create Post </a>
      </li>
      <li class="nav-item mr-3">
        <a class="btn btn-secondary" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container bootdey">
  <div class="row">
<div class="col-md-8 bootstrap snippets h-100">
<div class="panel">
    <div class="panel-body">
    <!-- Newsfeed Content -->
    <!--===================================================-->
    <!--===================================================-->
    <!-- End Newsfeed Content -->

    <!-- Newsfeed Content -->
    {% for post in total_posts %}
    <!--===================================================-->
    <div class="media-block pad-all mt-5">
      <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
      <div class="media-body">
        <div class="d-inline-flex">
        <div class="mar-btm">
          <a href="#" class="btn-link text-semibold media-heading box-inline" id="name-{{loop.index}}" data-name="{{post.username}}">{{post.username}}</a>
          <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i>{{post.upload_date}}</p>
        </div>
        <div id="button-{{loop.index}}">
          {% if post.username in follows_people %}
          <button class="btn btn-primary btn-sm ml-3" onclick="unfollow_user({{loop.index}})">Unfollow</button>
          {% else %}
          <button class="btn btn-primary btn-sm ml-3" onclick="follow_user({{loop.index}})">Follow</button>
         {% endif %}
        </div>
        <div id="button2-{{loop.index}}">
          {% if post.username in favourite_people %}
        <button class="btn btn-primary btn-sm ml-3"  onclick="unfav_user({{loop.index}})" style="height: 33px;">Unfavourite</button>
        {% else %}
        <button class="btn btn-primary btn-sm ml-3" onclick="fav_user({{loop.index}})" style="height: 33px;">Favourite</button>
       {% endif %}
      </div>
      </div>
        <p>{{post.text}}</p>
        <img class="img-responsive thumbnail w-30" src="{{post.image_url}}" alt="Image">
     
        <!-- Comments -->
    
    <!--===================================================-->
    <!-- End Newsfeed Content -->
  </div>
</div>
{% endfor %}
</div>
</div>
</div>
<div class="col-md-4 mt-5">
 <div class="box">
    <h4 class="font-weight-bold text-center">Followers</h4>
  <ul id="followers">

    </ul>
 </div>
 <div class="box mt-3">
  <h4 class="font-weight-bold text-center">Favourites</h4>
<ul id="favourite">

  </ul>
</div>
</div>
</div>
</div>
<script>
   var settings = {
  "async": true,
  "crossDomain": true,
  "url": "/followers",
  "method": "GET"
}

$.ajax(settings).done(function (response) {
  console.log(response);
  response.message.forEach(function(item){
  $("#followers").append("<li>"+item+"</li>")
  })

})

var settings = {
  "async": true,
  "crossDomain": true,
  "url": "/favourites",
  "method": "GET"
}

$.ajax(settings).done(function (response) {
  console.log(response);
  response.message.forEach(function(item){
  $("#favourite").append("<li>"+item+"</li>")
  })

})

  function follow_user(count){
   var name = document.getElementById("name-"+count).getAttribute('data-name')
   var settings = {
  "async": true,
  "crossDomain": true,
  "url": "/follow/"+name,
  "method": "GET"
}

$.ajax(settings).done(function (response) {
  console.log(response);
  if(response.message == true){
   window.location.reload()
  }
});
  }

  function unfollow_user(count){
   var name = document.getElementById("name-"+count).getAttribute('data-name')
   var settings = {
  "async": true,
  "crossDomain": true,
  "url": "/unfollow/"+name,
  "method": "GET"
}

$.ajax(settings).done(function (response) {
  console.log(response);
  if(response.message == true){
    window.location.reload()
  }
});
  }
  function fav_user(count){
   var name = document.getElementById("name-"+count).getAttribute('data-name')
   var settings = {
  "async": true,
  "crossDomain": true,
  "url": "/favourite/"+name,
  "method": "GET"
}

$.ajax(settings).done(function (response) {
  console.log(response);
  if(response.message == true){
    window.location.reload()
  }
});
  }
  function unfav_user(count){
   var name = document.getElementById("name-"+count).getAttribute('data-name')
   var settings = {
  "async": true,
  "crossDomain": true,
  "url": "/unfavourite/"+name,
  "method": "GET"
}

$.ajax(settings).done(function (response) {
  console.log(response);
  if(response.message == true){
    window.location.reload()
  }
});
  }
</script>